body {
    background-color: #f25116;
     }

.form-control:focus {
    border-color: rgba(242, 81, 22, 0.50);
    box-shadow: 0 0 0 0.2rem rgb(242 81 22 / 25%);
}

.bg img{
    max-width: 100%;
    height: 100%;
}

.container { 
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #faf8f8;
}