
:root {
    scroll-behavior: smooth;
  }
  
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  #main {
    margin-top: 5px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # Historico de serviço
  --------------------------------------------------------------*/
  .pagetitle {
    margin-bottom: 10px;
  }
  
  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #4154f1;
  }
  

  
 
  
  
  @media (min-width: 1200px) {
  
    #main,
    #footer {
      margin-left: 5px;
    }
  }
  
  
  
  
 
  
  