@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-bottom: 0;
}

.bloco-home {
    width: min(1920px, 100%);
    margin-inline: auto;
    padding-inline: 24px;
    height: 100%;
}

.bloco {
    width: min(1920px, 100%);
    margin-inline: auto;
    padding-inline: 24px;
    height: 100%;
}

/***** MENU *****/

nav {
    background-color: #2A438C;
    height: 70px;
}

nav .logoMenu {
    margin-left: 30px;
}
nav ul .btn {
    background-color: #2A438C;
    border-radius: 30px;
}

nav ul .btn:hover {
    background-color: #3e5088;
}

.side-nav {
    background-color: #fd613e;
}

.side-nav li>a {
    color: #fff;
}

.side-nav .btn {
    background-color: #2A438C;
    border-radius: 30px;
}

.side-nav li>a.btn:hover {
    background-color: #2A438C;
}

.side-nav .dropdown-content {
    background-color: #2A438C;
}

.side-nav .dropdown-content li:hover {
    background-color: #2A438C;
}



/***** PRODUTO *****/

#produto {
	background: linear-gradient(180deg, #2A438C 5.76%, rgba(42, 67, 140, 0) 100%);
    padding-top: 05px;
    
   
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #434343;

    font-size: 17px;
}

#produto h1 {
    margin: 3rem 0;
    margin-top: 80px;
    font-weight: 500;
	color:#fff;
    font-size: 40px;
    margin-block-end: 10px;
}

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1.5rem 1.2rem;
    border-radius: 10px;
    max-height: 468px;
    margin-left: 0px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 230px;
    height: 130px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #000000, #1105bb);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #000000, #1105bb);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #000000, #1105bb);
}

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #ea4a4a;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #3317a4;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #3415e2;
}



@media only screen and (max-width: 601px) {
    .bloco {
        height: 100%;
    }

    /***** HOME *****/
    #home {
        padding-top: 0;
    }
    .card-apresentacao h1 {
        font-size: 2.5rem;
    }
    
    .card-apresentacao h5 {
        font-size: 1.3rem;
    }
	
	#produto {
		
		height: max-content;
	}

    /***** O que é eAi? *****/

    #serviços{
    padding-top: 0%;
    }
    .card-eai h2 {
        font-size: 2.5rem;
    }
    
    .card-eai h5 {
        font-size: 1.3rem;
    }
	
    .robo img {
        display: none;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .video img {
        display: none;
    }
	
    /***** PRODUTOS *****/

	main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
		margin-left: 0px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

    /***** FOOTER *****/
	
	footer .redes-sociais {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        margin: 15px;
	}
	
	footer .redes-sociais ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
	}
	
	footer .link-app ul {
	    display: flex;
		justify-content: start;
		align-items: center;
		gap: 50px;
	}
	
	footer .link-app ul li{
		font-size: 3rem;
	}
	
	footer .copyright {
		font-size: 10px;
	}
}



@media only screen and (min-width: 602px) and (max-width: 991px) {
    .bloco {
        height: 100%;
    }

    /***** HOME *****/
    #home {
        padding-top: 0;
    }
    .card-apresentacao h1 {
        font-size: 3rem;
    }
    
    .card-apresentacao h5 {
        font-size: 1.5rem;
    }

    /***** O que é eAi? *****/

    #serviços{
        padding-top: 0%;
            }
    .card-eai h2 {
        font-size: 3rem;
            }
            
    .card-eai h5 {
        font-size: 1.5rem;
            }
    .video img {
        display: none;
    }

    /***** PRODUTOS *****/		
	
    #produto {
		
		height: max-content;
	}
	
	main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
		margin-left: 0px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }
	
	main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

    /***** FOOTER *****/	
	
	footer .redes-sociais ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
	}
}    