@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.navbar {
    background-color: #f25116;
}

.btn-cadastro-parceiro{
    background-color: #2a438c;
    border-color: #2a438c;
}

.btn-cadastro-parceiro:hover{
    background-color: #2a428c9a;
    border-color: #2a438c;
}


#inicio {
    background: linear-gradient(180deg,#e8cdcd 0%, #e59292 50%, #f25116 100%);
    padding-top: 7.3rem;
    padding-bottom: 5rem;
    color:#fff;
}

#inicio img{
    max-width: 100%;
    height: 100%;
}

#produto{
    background: linear-gradient( #f25116 0%, #e59292 50%, #e8cdcd 100%);
    padding-top: 3.3rem;
    padding-bottom: 5rem;
    color:#fff;
    /* overflow: hidden; */
}

#sobre {
    background: linear-gradient(180deg,#e8cdcd 0%, #fff 50%, #ffff 100%);
    padding-top: 7.3rem;
    padding-bottom: 5rem;
    color: #2a438c;
}

#sobre img{
    max-width: 100%;
    height: 100%;
}

.footer {
    background-color: #f25116;
    color: #fff;
}

footer .redes-sociais a,
footer .loja-app a {
    font-size: 2rem;
}

footer .redes-sociais a:hover,
footer .loja-app a:hover {
    font-size: 2.5rem;
}

footer .redes-sociais a i,
footer .loja-app a i{
    color: #fff;
}